/*MAIN MENU ICONS*/
.menu-button.border {
  background: url('../icons/border-main.png');
}
.menu-button.upload-image {
  background: url('../icons/image-up-icon.png');
}
.menu-button.filters {
  background: url('../icons/filter-menu-icon.png');
}
.menu-button.background {
  background: url('../icons/set-background-icon.png');
}

/*BACKGROUND ICONS*/
.menu-button.fabric {
  background: url('../icons/fabric-background-icon.jpg');
}
.menu-button.heart {
  background: url('../icons/heart-background-icon.jpg');
}
.menu-button.pink {
  background: url('../icons/pink-background-icon.jpg');
}
.menu-button.plaid {
  background: url('../icons/plaid-background-icon.jpg');
}
.menu-button.seventies {
  background: url('../icons/seventies-background-icon.jpg');
}

/*FILTER ICONS*/
.menu-button.greyscale {
  background: url('../icons/filter-menu-icon-gs.png');
}
.menu-button.invert {
  background: url('../icons/filter-menu-icon-invert.png');
}
.menu-button.sepea {
  background: url('../icons/filter-menu-icon-sepea.png');
}
.menu-button.vintage {
  background: url('../icons/');
}
.menu-button.vibrant {
  background: url('../icons/filter-menu-icon-vibrant.png');
}
.menu-button.posterize {
  background: url('../icons/filter-menu-icon-posterize.png');
}


/*BORDER ICONS*/
