body {
  background: #FFF;
  width: 435px;
  margin: auto;
  border: 2px solid;
}

.collagify{
  position:relative;
}



.main-menu {
  width: calc(100% - 10px);
  height:48px;
  padding: 5px;
  text-align: right;
  border-bottom: 2px solid #8092D4;
}
.main-menu .app-name {
  float:left;
}

.menu-button {
  height: 45px;
  width: 45px;
  font-size: 20px;
  margin: 0 5px;
  border: none;
  border-radius: 9px;
  background-color: transparent !important;
  background-size: cover !important;
  cursor: pointer;
  vertical-align: top;
}
.menu-button:hover{
  height: 48px;
  width: 48px;
  background-color: #C3DEFF !important;
  outline-color: #3C78FF;
  transition: height 0.1s linear, width 0.1s linear;
}

.submenus {
  background: rgba(255, 255, 255, 0.84);
  position: absolute;
  width: 100%;
  z-index: 100;
  height:55px;
  overflow:hidden;
}
.submenu {
  overflow:hidden;
  text-align: right;
  padding: 5px;
  height:40px;
}

.submenu.submenu-enter {
  position: relative;
  float:left;
  width: 0px;
}

.submenu-enter.submenu-enter-active {
  width: 425px;
  overflow: hidden;
  transition: width 300ms linear;
}

.submenu.submenu-leave {
  position: relative;
  float:right;
  width: 410px;
}

.submenu.submenu-leave.submenu-leave-active {
  width: 0px;
  overflow: hidden;
  transition: width 300ms linear;
}


.collage-canvas {
  background-size: contain !important;
  position: relative;
  overflow:hidden;
  width:435px;
  height: 773px;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  background: transparent;
}

.collage-image{
  position: absolute;
  border: 1px solid;
  z-index: 1;
  background-size: cover !important;
}
.collage-image.active{
  z-index:99;
  border:2px solid blue;
}

.collage-image .rotate{
  display: none;
  position: absolute;
  background: transparent;
  right: 25%;
  top: -39px;
  width: 50%;
  height: 26px;
  z-index: 2;
  font-size: 25px;
  text-align: center;
  padding-top: 26px;
}
.collage-image.active .rotate{
  display:block;
  transition: display 1s linear;
}
.collage-image .rotate span {
    padding: 0 10px;
    cursor: pointer;
}
.collage-image .resize{
  display:none;
  position: absolute;
  top: -14px;
  left: -14px;
  width: 28px;
  height: 24px;
  background: transparent;
  cursor: nwse-resize;
  z-index: 3;
  text-align: center;
  padding-top: 4px;
}
.collage-image.active .resize{
  display:block;
  transition: display 1s linear;
}
.collage-image .move{
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  height: calc(100% - 20px);
  width: 100%;
  background: transparent;
  z-index: 3;
  cursor: move;
  text-align: center;
}
.collage-image.active .move{
  display:block;
  transition: display 1s linear;
}
.collage-image .updating{
  display:none;
  position: absolute;
  top: calc(50% - 30px);
  right: calc(50% - 35px);
  font-size: 20px;
}


.upload-modal.modal-enter {
  opacity: 0.01;
  justify-content: center;
}

.upload-modal.modal-enter.modal-enter-active {
  opacity: 1;
  justify-content: center;
  transition: all 500ms linear;
}

.upload-modal.modal-leave {
  opacity: 1;
}


.upload-modal.modal-leave.modal-leave-active .uploader{
  opacity: 0.01;
  transition: opacity 300ms linear;
}


.upload-modal {
  position: absolute;
  top: 60px;
  height: calc(100% - 60px);
  width: 100%;
  background: rgba(19, 28, 95, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index:1000;
}


.uploader {
  background: #CAD8FF;
  padding: 24px 10px;
  border-radius: 6px;
}


.uploader-form .success,
.uploader-form .error,
.uploader-form .uploading,
.uploader-form .file-input {
  display:none;
  height: 100px;
  padding: 10px;
  line-height: 100px;
}

.uploader-form.uploading .input-container,
.uploader-form.success .input-container,
.uploader-form.error .input-container {
  display: none;
  transition: display 1s linear;
}

.uploader-form.uploading .uploading{
  display:block;
  transition: display 1s linear;
}
.uploader-form.success .success{
  display:block;
  transition: display 1s linear;
}
.uploader-form.error .error{
  display:block;
  transition: display 1s ealinearse;
}

.uploader-form {
  background-color: #ACC3F7;
  outline: 2px dashed black;
  outline-offset: -10px;
  border-radius: 8px;
  text-align: center;
}
.uploader-form.dragover{
  background-color: #83AFFF;
  transition: background-color 0.5s ease;
}

.uploader-form .fa-upload{
  font-size: 60px;
  margin-top: 10px;
  display: block;
}
.uploader-form label {
  height: 100px;
  padding: 10px;
  display: block;
  cursor: pointer;
}
.uploader-form .drag-n-drop {
  display: inline;
}
