doctype html
html
  head
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Collagify
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react-with-addons.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react-dom.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    link(rel='stylesheet', href="collagify.css")
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css")
  body
    div(id="Collagify")
    script(type="text/babel" src="/script/main.js")
